.DS_Store

*.vcxproj
*.filters
*.recipe
*.user
*.ilk
*.log
*.enc
*.tlog
*.idb
*.obj
*.pdb
*.suo
*.db
*.ipch
*.sln
*.txt
*.db-shm
*.db-wal
*.opendb
*.vsidx
*.lock
.editorconfig
*.xml
*.sarif
*.bin
*.exe
source/gen_version.bat


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
